@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.sidebar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.react-player {
	height: 77vh !important;
	width: 100% !important;
}

@media screen and (max-width: 600px) {
	.react-player {
		height: 45vh !important;
	}
}
